# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables (Sensitive Data)
.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
